.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  margin-bottom: 40px;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  overflow: hidden;

  svg {
    width: 100%;
    max-width: 300px;
  }
}

.image {
  width: 100%;
  object-fit: cover;
}
